[submodule "tests/resources/commonroad-scenarios"]
	path = tests/resources/commonroad-scenarios
	url = https://gitlab.lrz.de/tum-cps/commonroad-scenarios
[submodule "tests/resources/commonroad-scenarios_2020"]
	path = tests/resources/commonroad-scenarios_2020
	url = https://gitlab.lrz.de/cps/commonroad-scenarios.git
